
.secao {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #afddfb;
}
.image {
    width: 150px;
}

.paragrafoTopo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.linkTopo {
    color: #1d1d1d;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 2px solid #1d1d1d;
}